<style>
    .container {
  display: flex;
  flex-wrap: wrap;
  
  padding: 1rem;
  width: 80%;
}

.box {
  flex-basis: 40%;
  background-color: #f1f1f1;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .box {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
}
h2 {
  margin: 0;
  padding: 0;
}
.container {
  
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 30px;
  
}

</style>



<div class="container">
    <div class="box">
      <h2 id="section1">React.js</h2>
      React.js is a popular JavaScript library used for building dynamic and interactive user interfaces. It allows developers to create reusable UI components and efficiently manage application state. React.js also enables the creation of mobile apps using React Native. With its strong community and vast ecosystem of supporting tools and libraries, React.js has become a go-to choice for front-end development.
    </div>
    <div class="box">
      <h2  id="section2">JavaScript</h2>
        JavaScript is a widely used programming language for building interactive web applications. It can be used to create dynamic effects on web pages, validate user input, and handle browser events. JavaScript also has the ability to interact with HTML and CSS, making it a powerful tool for creating interactive and engaging web content. JavaScript is a critical skill for web developers today.
    </div>
  </div>
  